html,
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
}

h3 {
  font-size: 3rem;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;

}